absl_py==2.1.0
anthropic==0.26.0
datasets==2.18.0
einops==0.8.0
faiss_cpu==1.7.4
matplotlib==3.7.2
ml_collections==0.1.1
numpy==1.24.4
omegaconf==2.3.0
openai==0.28.0
pandas==2.0.3
pytorch_lightning==2.2.1
regex==2023.12.25
Requests==2.31.0
seaborn==0.13.2
tenacity==8.3.0
torch==2.3.0
tqdm==4.66.1
transformers==4.33.0
wandb==0.16.6
importlib-metadata==7.1.0